@import url(/css/colors.css);
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	color: var(--header-logo);
}

ul,
ol {
	list-style-type: none;
}

input,
textarea,
button {
	padding: 0 20px;
	font-size: 1.5rem;
}

a,
a:link,
a:hover,
a:active,
a:focus,
a:visited {
	outline: none;
	color: #000;
}
