@import url(/css/colors.css);
@import url(/css/fonts.css);
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	color: var(--header-logo);
	font-family: "lora", "roboto";
}

#wrapper {
	display: grid;
	grid-auto-flow: row;
	row-gap: 80px;
	width: 100%;
}

html {
	font-size: 10px;
}

ul,
ol {
	list-style-type: none;
}

input,
textarea,
button {
	padding: 0 20px;
	font-size: 1.5rem;
}

a,
a:link,
a:hover,
a:active,
a:focus,
a:visited {
	outline: none;
	color: #000;
}

.container {
	max-width: 95%;
	height: 100%;
	margin: 0 auto;
}

*::selection {
	color: var(--selection);
}

::-webkit-scrollbar {
	background: linear-gradient(-45deg, #3043578e, #18202a);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, #3043578e, #18202a);
	border-left: 2px dashed black;
}
