@font-face {
	font-family: "lora";
	src: url("/fonts/Lora-Regular/Lora-Regular.eot");
	src: local("☺"), url("/fonts/Lora-Regular/Lora-Regular.woff") format("woff"),
		url("/fonts/Lora-Regular/Lora-Regular.ttf") format("truetype"),
		url("/fonts/Lora-Regular/Lora-Regular.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "roboto";
	src: url("/fonts/Roboto-Regular/Roboto-Regular.eot");
	src: local("☺"), url("/fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
		url("/fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"),
		url("/fonts/Roboto-Regular/Roboto-Regular.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
