@import url(/css/fonts.css);
@import url(/css/colors.css);

.header {
	min-width: 100vw;
	min-height: 600px;
}

.header-background-image {
	width: 100vw;
	min-height: 100%;
	position: relative;
	top: 0;
	left: 0;
}

.header__container {
	background-color: var(--header-bg-color);
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}

.container {
	max-width: 95%;
	margin: 0 auto;
	padding: 0 20px;
}
.header__items {
	width: 100%;
	height: 50px;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 900px) {
	.header__items {
		height: 70px;
	}
}

.header__item_logo {
	color: var(--header-logo);
	text-transform: uppercase;
	font-family: "Lora", "gloria", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: calc(0.3rem + 1vw);
	line-height: 22px;
}
.header__navigation {
	display: grid;
	grid-auto-flow: column;
	column-gap: 25px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--header-menu);
}
.header__navigation_item {
	font-family: "Roboto", "polarbear", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: calc(0.1rem + 0.8vw);
	line-height: 16px;
	color: var(--header-menu);
}

.header__navigation_item:hover {
	text-decoration: underline;
	text-decoration-color: var(--text-decor-color);
	color: var(--header-logo);
	cursor: pointer;
}
