@import url(/css/fonts.css);
@import url(/css/colors.css);

.header-background-image {
	display: none;
}

@media screen and (min-width: 900px) {
	.header-background-image {
		display: inline;
		width: 100%;
		min-height: 100%;
		object-fit: cover;
		position: relative;
		top: 0;
		left: 0;
	}
	.header {
		width: 100%;
		height: 625px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 900px) and (min-width: 584px) {
	.header {
		background-color: var(--header-default-bg-color);
	}

	.header {
		width: 100%;
		height: 450px;
		margin: 0 auto;
	}
}

.header__items {
	height: 50px;
}

.header__item_logo {
	text-transform: uppercase;
	font-family: "Lora", "gloria", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: calc(0.6rem + 1vw);
	line-height: 22px;
}

.header__text_container {
	display: none;
}

.background {
	background-color: var(--header-bg-color-darker);
	width: 100%;
	height: 70px;
	position: fixed;
}

@media screen and (min-width: 584px) {
	.background {
		background-color: var(--header-bg-color);
	}
}

.header__container {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}
.header__items {
	height: 100%;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
}
.header__navigation {
	display: grid;
	grid-auto-flow: column;
	column-gap: 25px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--header-menu);
}
.header__navigation_item {
	font-family: "Roboto", "polarbear", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: calc(0.3rem +1vw);
	line-height: 16px;
	color: var(--header-menu);
}

.header__navigation_item:hover {
	text-decoration: underline;
	text-decoration-color: var(--text-decor-color);
	color: var(--header-logo);
	cursor: pointer;
}

@media screen and (max-width: 1632px) and (min-width: 584px) {
	.category {
		width: max-content;
		font-family: "roboto";
		font-style: normal;
		font-weight: 700;
		font-size: 10px;
		line-height: 12px;
		padding: 7px;
		border-radius: 15px;
		background-color: rgba(255, 255, 255, 0.2);
		color: var(--header-logo);
	}
	.header__text_container {
		display: block;
		overflow: hidden;
		padding: 0 0 0 20px;
		position: absolute;
		width: 580px;
		height: 250px;
	}

	.header__text-itemscontainer {
		display: grid;
		grid-auto-flow: row;
		align-content: space-evenly;
	}

	.header__title {
		font-family: "lora", "polarbear", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: calc(1.4rem + 1vw);
		line-height: 46px;
		color: var(--header-logo);
	}
	.header__text_grid-container {
		padding: 10px 0 0 0;
		font-size: calc(0.2rem + 0.8vw);
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		column-gap: 13px;
	}
	.date {
	}
	.emty__element {
		width: 30px;
		height: 0px;
		border: 0.5px solid;
	}
	.text {
	}

	.dots {
		padding: 0 15px;
		display: flex;
		align-items: flex-end;
		gap: 15px;
		list-style-type: circle;
	}

	.dot:first-child {
		list-style-type: square;
		color: var(--header-logo);
	}
}

@media screen and (max-width: 700px) {
	.header__text_container {
		margin-top: 125px;
	}
}
